/* Global settings */

/* header settings / navigation */

.header-grid {
  display: grid;
}

.header-center {
  grid-area: header-center;
}

.header-mobile {
  grid-area: header-mobile;
}

.header-left {
  grid-area: header-left;
}

.header-right {
  grid-area: header-right;
  text-align: right;
  margin-right: 1em;
}

/* content / main settings */

.content-grid {
  display: grid;
  color: #152228;
  background-color: #f7fcff;
}

.content {
  grid-area: main;
}

.grid-navigation ul {
  list-style-type: none;
}

.grid-navigation li {
  display: inline;
  padding-right: 0.5em;
}

.sidebar {
  grid-area: sidebar;
  color: #d0d7db;
  background-color: #152228;
}

.hero {
  grid-area: hero;
  padding: 0;
  background-image: url('https://farm8.staticflickr.com/7357/8730600921_5c3cfe340d_o_d.jpg');
  height: 540px;
  background-position: center;
  background-size: cover;
}

/* footer settings */

.footer-grid {
  display: grid;
  color: #d0d7db;
  background-color: #152228;
}

.footer-grid>div {
  padding: 1em;
}

.footer1 {
  grid-area: footer1;
}

.footer2 {
  grid-area: footer2;
}

.footer3 {
  grid-area: footer3;
}

/* settings for small screens like Smartphones */

@media (min-width: 120px) and (max-width: 767px) {
  .header-grid {
    grid-template-columns: 45% 55%;
    grid-template-areas: "header-mobile header-center";
    position: fixed;
    background-color: white;
    width: 100%
  }
  .header-left {
    display: none;
  }
  .header-right {
    display: none;
  }
  .content-grid {
    grid-template-columns: auto;
    grid-template-areas: "hero" "main" "sidebar";
    padding-top: 3em;
  }
  .content-grid>div {
    padding: 2em;
  }
  .hero {
    max-height: 240px;
  }
  .sidebar {
    align-self: baseline;
    border-bottom: 1px solid #d0d7db;
  }
  .footer-grid {
    grid-template-columns: auto;
    grid-template-areas: "footer1" "footer2" "footer3";
  }
  .footer-grid>div {
    padding: 2em;
  }
}

/* medium sized screens like tablets or netbooks */

@media (min-width: 768px) and (max-width: 1024px) {
  .header-grid {
    grid-template-columns: 60% 20% 20%;
    grid-template-areas: "header-left header-center header-right";
  }
  .header-grid>div {
    padding: 1em;
  }
  .header-mobile {
    display: none;
  }
  .content-grid {
    grid-template-columns: auto;
    grid-template-columns: 33% auto;
    grid-template-areas: "hero hero" "sidebar main";
  }
  .content-grid>div {
    padding: 2em;
  }
  .sidebar {
    align-self: baseline;
    padding: 1em 4em 2em 1em !important;
  }
  .footer-grid {
    grid-template-columns: auto;
    grid-template-areas: "footer1 footer2 footer3";
  }
}

/* Large Screens */

@media (min-width: 1025px) {
  .header-grid {
    justify-content: space-between;
    grid-template-columns: 70% 15% 15%;
    grid-template-rows: auto;
    grid-template-areas: "header-left header-center header-right";
  }
  .header-grid>div {
    padding: 1em;
  }
  .header-mobile {
    display: none;
  }
  .content-grid {
    grid-template-columns: 20% 5% 65% auto;
    grid-template-areas: "hero hero hero hero" "sidebar . main .";
  }
  .content-grid>div {
    padding: 1em;
  }
  .footer-grid {
    grid-template-columns: 20% 25% 25% 25% auto;
    grid-template-areas: ". footer1 footer2 footer3 .";
  }
  .footer-grid>div {
    padding: 4em 1em 8em 1em;
  }
}
